body {
    font: 16px sans-serif;
}

/* highlight js */
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #202229;
}

pre code.hljs {
    padding: 0rem 1.5rem;
    line-height: 1.2;
}

.code-wrapper {
    width: 1080px;
    margin: 0 auto;
}

.hljs,
.hljs-subst {
    color: #fff;
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-template-tag {
    color: #ff6d6d;
}

.hljs-type {
    color: #ff6d6d;
}

.hljs-keyword {
    color: #63c3ed;
    font-weight: unset;
}

.hljs-string {
    color: #a2e981;
}

.hljs-number {
    color: #f3a14a;
}

.hljs-function {
    color: #a2e981;
}

.hljs-doctag {
    color: #5ac5b1;
    font-weight: unset;
}
