body {
    font: 16px sans-serif;
    color: #bbbfc8;
    background-color: #121215;
}

p {
    line-height: 1.4;
}

p,
h1,
h2,
h3,
h4 {
    letter-spacing: 0.6px;
}

hr {
    color: transparent;
    border-top: 1px dashed #5c6071;
}

nav a {
    color: #bbbfc8;
}

nav a:hover {
    color: #ff6d6d;
    text-decoration: none;
}

/* highlight js */
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #202229;
}

pre code.hljs {
    padding: 0.5rem 2.5rem;
    line-height: 1.3;
}

.code-wrapper {
    width: 1080px;
    margin: 0 auto;
}

.hljs,
.hljs-subst {
    color: #fff;
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-template-tag {
    color: #ff6d6d;
}

.hljs-type,
.hljs-literal,
.hljs-operator {
    color: #ff6d6d;
}

.hljs-keyword {
    color: #5ad9fc;
    font-weight: unset;
}

.hljs-number {
    color: #f3a14a;
}

.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-function,
.hljs-string {
    color: #a2e981;
}

/* .hljs-operator {
    color: #ff6d6d;
} */

.hljs-doctag {
    color: #5ac5b1;
    font-weight: unset;
}
