body {
    font: 16px sans-serif;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
}

pre code.hljs {
    padding: 1rem 3rem;
}

.code-wrapper {
    width: 1080px;
    margin: 0 auto;
}

.hljs,
.hljs-subst {
    color: #fff;
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-template-tag {
    color: #ff6d6d;
}

.hljs-type {
    color: #ff6d6d;
}

.hljs-keyword {
    color: #76c7e9;
    font-weight: unset;
}

.hljs-string {
    color: #a2e981;
}

.hljs-number {
    color: #f3934a;
}

.hljs-function {
    color: #a2e981;
}
